@model IEnumerable<LoanManager.Models.Loan>

@using LoanManager.CustomHelpers;

@using GridMvc.Html
@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>

<link href="@Url.Content("~/Content/Gridmvc.css")" rel="stylesheet" />
<link href="@Url.Content("~/Content/bootstrap.min.css")" rel="stylesheet" />
<script src="@Url.Content("~/Scripts/jquery-1.10.2.min.js")"></script>
<script src="@Url.Content("~/Scripts/gridmvc.min.js")"></script>

<div class="code-cut">
    @Html.Grid(Model).Columns(columns =>
{
    columns.Add(c => c.Id).Titled("Id").Filterable(true);
    columns.Add(c => c.Asset.AssetName)
    .Titled("Asset")
    .Filterable(true)
    .Encoded(false)
    .Sanitized(false)
    .RenderValueAs(c => new HtmlString(Html.ActionLink(c.Asset.AssetName, "Details", "Assets", new { id = c.AssetId }, null).ToString()));
    columns.Add(c => c.Principal).Format("{0:C0}").Titled("Principal");
    columns.Add(c => c.Interest).Format("{0:C0}").Titled("Interest");
    columns.Add(c => c.Cleared).Titled("Cleared");
    columns.Add()
    .Encoded(false)
    .Sanitized(false)
    .RenderValueAs(o => new HtmlString(Html.AddLoanActionsMenu(o)));

}).WithPaging(10).Sortable(true)
</div>
