@model IEnumerable<LoanManager.Models.Transaction>

@using GridMvc.Html
@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<link href="@Url.Content("~/Content/Gridmvc.css")" rel="stylesheet" />
<link href="@Url.Content("~/Content/bootstrap.min.css")" rel="stylesheet" />
<script src="@Url.Content("~/Scripts/jquery-1.10.2.min.js")"></script>
<script src="@Url.Content("~/Scripts/gridmvc.min.js")"></script>

<div class="code-cut">
    @Html.Grid(Model).Columns(columns =>
{
    columns.Add(c => c.Timestamp).Titled("Timestamp");
    columns.Add(c => c.Type.Description).Titled("Type").Filterable(true);
    columns.Add(c => c.Details).Titled("Details").Filterable(true);
    columns.Add(c => c.LoanId)
    .Titled("Loan ID")
    .Filterable(true)
    .Encoded(false)
    .Sanitized(false)
    .RenderValueAs(c => new HtmlString(Html.ActionLink(c.LoanId.ToString(), "Details", "Loans", new { id = c.LoanId }, null).ToString()));
    columns.Add(c => c.Loan.Asset.AssetName).Titled("Asset");
    columns.Add(c => c.Loan.Asset.Borrower.FirstName).Titled("Client");
    columns.Add(c => c.Debit).Format("{0:C0}").Titled("Debit");
    columns.Add(c => c.Credit).Format("{0:C0}").Titled("Credit");
    columns.Add(c => c.Balance).Format("{0:C0}").Titled("Loan Balance");
    columns.Add()
    .Encoded(false)
    .Sanitized(false)
    .RenderValueAs(o => new HtmlString(Html.ActionLink("Details", "Details", new { id = o.Id }).ToString()));

}).WithPaging(10).Sortable(true)
</div>
