@model IEnumerable<LoanManager.Models.Transaction>

<div class="panel panel-primary">
    <div class="panel-heading">RECENT TRANSACTIONS</div>
    
    <!-- Table -->
    <table class="table table-striped">
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Timestamp)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Type)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Details)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Debit)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Credit)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Balance)
            </th>
            <th></th>
        </tr>

        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Timestamp)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Type.Description)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Details)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Debit)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Credit)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Balance)
                </td>
                <td>
                    @Html.ActionLink("Details", "Details", "Transactions", new { id = item.Id }, new { @class = "btn btn-info btn-sm" })
                </td>
            </tr>
        }
    </table>
</div>