@model LoanManager.Models.Borrower
@using GridMvc.Html
@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div class="container">
    <h4>Clients</h4>
    <hr />

    <div class="row">
        <div class="col-md-4">

            @if (Model.Photo != null)
            {
                <div>
                    <img src="@Url.Content(Model.Photo)" width="256" height="256" />
                </div>
            }

        </div>

        <div class="col-md-8">

            <dl class="dl-horizontal">
                <dt>
                    @Html.DisplayNameFor(model => model.NationalID)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.NationalID)
                </dd>

                <dt>
                    @Html.DisplayNameFor(model => model.FirstName)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.FirstName)
                </dd>

                <dt>
                    @Html.DisplayNameFor(model => model.MiddleName)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.MiddleName)
                </dd>

                <dt>
                    @Html.DisplayNameFor(model => model.LastName)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.LastName)
                </dd>

                <dt>
                    @Html.DisplayNameFor(model => model.Email)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.Email)
                </dd>

                <dt>
                    @Html.DisplayNameFor(model => model.PhoneNumber1)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.PhoneNumber1)
                </dd>

                <dt>
                    @Html.DisplayNameFor(model => model.PhoneNumber2)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.PhoneNumber2)
                </dd>

                <dt>
                    @Html.DisplayNameFor(model => model.Address)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.Address)
                </dd>

                <dt>
                    @Html.HiddenFor(model => model.CreatedAt)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.CreatedAt)
                </dd>

                <dt>
                    @Html.HiddenFor(model => model.ModifiedAt)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.ModifiedAt)
                </dd>

            </dl>
        </div>
    </div>

</div>

<br />

<div>
    <p>
        @Html.ActionLink("« Back to List", "Index", null, new { @class = "btn btn-info" })
       
        <a href="@Url.Action("Edit", new { id = Model.Id })" class="btn btn-info">
            <span class="glyphicon glyphicon-edit"></span>
            Edit Client Details
        </a>
        <a href="@Url.Action("Create", "Loans",new { BorrowerId = Model.Id })" class="btn btn-info">
            <span class="glyphicon glyphicon-plus-sign"></span>
            Grant New Loan
        </a>
        <a href="@Url.Action("StatementPdf", new { id = Model.Id })" class="btn btn-info">
            <span class="glyphicon glyphicon-download"></span>
            Download Statement
        </a>
    </p>
</div>

<hr />

<div class="row">
    <div class="col-md-5">
        @{ Html.RenderPartial("_Assets", Model.Assets); }
    </div>
    <div class="col-md-7">
        @{ Html.RenderPartial("_Transactions", Model.Assets.SelectMany(a => a.Loans).SelectMany(l => l.Transactions).ToList()); }
    </div>
</div>
