@model LoanManager.Models.Borrower
@using GridMvc.Html
@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Borrower</h4>
    <hr />

    <div>
        <img src="@Url.Content(Model.Photo)" />
    </div>

    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.NationalID)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.NationalID)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.FirstName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.FirstName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.MiddleName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.MiddleName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.LastName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.LastName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Email)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Email)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.PhoneNumber1)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PhoneNumber1)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.PhoneNumber2)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PhoneNumber2)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Address)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Address)
        </dd>

        <dt>
            @Html.HiddenFor(model => model.CreatedAt)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CreatedAt)
        </dd>

        <dt>
            @Html.HiddenFor(model => model.ModifiedAt)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ModifiedAt)
        </dd>

    </dl>
</div>

<link href="@Url.Content("~/Content/Gridmvc.css")" rel="stylesheet" />
<link href="@Url.Content("~/Content/bootstrap.min.css")" rel="stylesheet" />
<script src="@Url.Content("~/Scripts/jquery-1.10.2.min.js")"></script>
<script src="@Url.Content("~/Scripts/gridmvc.min.js")"></script>

<div>
    @Html.Grid(Model.Assets).Columns(columns =>
    {
        columns.Add(c => c.Description).Titled("Description").Filterable(true);
        columns.Add(c => c.RegistrationNo).Titled("RegistrationNo").Filterable(true);
        columns.Add(c => c.LogBookId).Titled("LogBook").Filterable(true);
        columns.Add(c => c.Value).Titled("Value").Format("{0:C0}").Filterable(true);
        columns.Add(c => c.Borrower.Fullname).Titled("Owner").Filterable(true)
        .Encoded(false)
        .Sanitized(false)
        .RenderValueAs(c => new HtmlString(Html.ActionLink(c.Borrower.Fullname, "Details", "Borrowers", new { id = c.BorrowerId }, null).ToString()));
        columns.Add()
        .Encoded(false)
        .Sanitized(false)
        .RenderValueAs(o => new HtmlString(Html.ActionLink("Edit", "Edit", new { id = o.Id }).ToString() + " | " +
                                        Html.ActionLink("Details", "Details", new { id = o.Id }).ToString() + " | " +
                                        Html.ActionLink("Delete", "Delete", new { id = o.Id }).ToString()));

    })
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.Id }) |
    @Html.ActionLink("Back to List", "Index")
</p>
