@model IEnumerable<LoanManager.Models.Borrower>

@using LoanManager.CustomHelpers;

@using GridMvc.Html
@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>

<link href="@Url.Content("~/Content/Gridmvc.css")" rel="stylesheet" />
<link href="@Url.Content("~/Content/bootstrap.min.css")" rel="stylesheet" />
<script src="@Url.Content("~/Scripts/jquery-1.10.2.min.js")"></script>
<script src="@Url.Content("~/Scripts/gridmvc.min.js")"></script>

<div class="code-cut">
    @Html.Grid(Model).Columns(columns =>
    {
        columns.Add(c => c.NationalID).Titled("National ID").Filterable(true);
        columns.Add(c => c.FirstName).Titled("FirstName").Filterable(true);
        columns.Add(c => c.MiddleName).Titled("MiddleName").Filterable(true);
        columns.Add(c => c.LastName).Titled("LastName").Filterable(true);
        columns.Add(c => c.Email).Titled("Email").Filterable(true);
        columns.Add(c => c.PhoneNumber1).Titled("PhoneNumber1").Filterable(true);
        columns.Add(c => c.PhoneNumber2).Titled("PhoneNumber2").Filterable(true);
        columns.Add()
        .Encoded(false)
        .Sanitized(false)
        .RenderValueAs(o => new HtmlString(Html.AddBorrowerActionsMenu(o)));
        columns.Add()
        .Encoded(false)
        .Sanitized(false)
        .RenderValueAs(o => new HtmlString(Html.Raw("").ToString() ));

    }).WithPaging(10).Sortable(true)
</div>
