@model IEnumerable<LoanManager.Models.Transaction>
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Statement</title>
    @Styles.Render("~/Content/css")
</head>
<body>
    <div> 
        <h1>STATEMENT OF ACCOUNT</h1>
    </div>

    @if (Model.Any())
    {
        <div class="col-md-8">

            <dl class="dl-horizontal">
                <dt>
                    @Html.DisplayNameFor(model => model.Loan.Asset.Borrower.Fullname)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.First().Loan.Asset.Borrower.Fullname)
                </dd>

                <dt>
                    @Html.DisplayNameFor(model => model.Loan.Asset.Borrower.NationalID)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.First().Loan.Asset.Borrower.NationalID)
                </dd>

            </dl>
        </div>


        <div class="panel panel-primary">
            <div class="panel-heading">RECENT TRANSACTIONS</div>

            <!-- Table -->
            <table class="table table-striped">
                <tr>
                    <th>
                        @Html.DisplayNameFor(model => model.Timestamp)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Type)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Details)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Debit)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Credit)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Balance)
                    </th>
                </tr>

                @foreach (var item in Model)
                {
                    <tr>
                        <td>
                            @Html.DisplayFor(modelItem => item.Timestamp)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Type.Description)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Details)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Debit)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Credit)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Balance)
                        </td>
                    </tr>
                }
            </table>
        </div>
    }
    else
    {
        <div class="jumbotron">
            <h1>No Records Found</h1>
        </div>
    }
</body>
</html>
